#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Remove outline for all elements */
*:focus {
  outline: none !important; /* Remove the default outline */
}

/* Alternatively, you can use this for better accessibility */
*:focus-visible {
  outline: none !important; /* Remove the default outline only for elements that are focused */
}

.imagewahaibabu {
  border-radius: .75rem 0 0 .75rem; /* Default for larger screens */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .imagewahaibabu {
    border-radius: 0; /* No border-radius for mobile */
  }
}
